<div mat-card>
  <div mat-card-content>
    <div mat-form-field>
      <input
        [(ngModel)]="userData.username"
        matInput
        placeholder="new username"
        type="text"
        name="username"
        required
      />
    </div>
    <div mat-form-field>
      <input
        [(ngModel)]="userData.password"
        matInput
        placeholder="new password"
        type="password"
        name="password"
        required
      />
    </div>
    <div mat-form-field>
      <input
        [(ngModel)]="userData.email"
        matInput
        placeholder="new email"
        type="email"
        name="email"
        required
      />
    </div>
    <button mat-raised-button (click)="updateUser()" color="primary">
      submit
    </button>
  </div>
</div>
